<div class="row text-center">
  <h2 class="text-center"><%= searchTerm %></h2>
  <ul class="item-list">
    <% artists.forEach((artist) => { %>
        <li class="single-item col-sm-4">
          <img src="<%= imageCleaner(artist)%>">
          <div class="item-footer">
            <h3><%= artist.name %></h3>
            <a class="view-more btn" href="/albums/<%= artist.id %>">
              View Albums
            </a>
          </div>
        </li>
    <%  }) %>
  </ul>
</div>
