<div class="row text-center">
  <h2 class="text-center">Albums for: <%= artist %></h2>
  <ul class="item-list">
    <% albums.forEach((album) => { %>
        <li class="single-item">
          <img src="<%= imageCleaner(album)%>">
          <div class="item-footer">
            <h3><%= album.name %></h3>
            <a class="view-more btn" href="/tracks/<%= album.id %>">View Tracks</a>
          </div>
        </li>
    <%  }) %>
  </ul>
</div>
